[data-ruby] {
	position: relative;
	display: inline-block;
}

[data-ruby]::before {
	content: attr(data-ruby);
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 0.5em;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

h1 [data-ruby]::before {
	top: -40%;
}

h2 [data-ruby]::before {
	top: -40%;
}

h3 [data-ruby]::before {
	top: -50%;
}

h4 [data-ruby]::before {
	top: -50%;
}

article>p [data-ruby]::before {
	top: -42%;
}

.image-with-title>p [data-ruby]::before {
	top: -28%;
}